.quizz {
    height: 100vh;
    background-color: #1f3582;

    .quizz_content {
        background-color: white;
    }

    .retry {
        .btn {
            background-color: #dd3cc8;
            color: #ffffff;
        }
    }
}